p{
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: italic;
    background-color: aquamarine;
}
.p1{
    color: bisque;
    background-color: brown;
    font-weight: 500;
    font-style: oblique;
    text-align: justify;
    text-decoration: underline;
    text-indent: 10px;
    letter-spacing: 10px;
    word-spacing: 10px;
}

.header{
    min-height: 100vh;
    width: auto;
    background-image: url(/IMAGE/Screenshot_139.png);
    background-position: center;
}

